<br/><br/><br/><br/>
<div  class="container" align="center" style="background-color: #ff9999; width: 1000px ; height: 500px">
	<br/><br/>
	<h2 align="center"> LOGIN OR SIGN UP TO CONTINUE</h2>
</div>
<br/><br/>