<!DOCTYPE html>
<html lang="en">
  	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="shortcut icon" href="themes/assets/ico/favicon.ico">
	    <title>Bootstrappage.com free templates contact us </title>

	    <!-- Bootstrap core CSS -->
	    <link href="themes/dist/css/bootstrap.min.css" rel="stylesheet">
	    <link href="themes/assets/css/carousel.css" rel="stylesheet">
  	</head>
<!-- NAVBAR
================================================== -->
  	<body>
		<div class="pageTitle">
		<div class="container">
		<h2>Contact Information</h2>
		</div>
		</div>
		
		 <div class="container">
		 <div class="bodyInner">
			
		</div>
		</div>
		<div class="container"></div>
		
		

		


	      <!-- FOOTER -->
	      <footer>
			<div class="container">
	        <p class="pull-right"><a href="#">Back to top</a></p>
	        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
			</div>
	      </footer>



	    <!-- Bootstrap core JavaScript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	    <script src="themes/dist/js/bootstrap.min.js"></script>
	    <script src="themes/assets/js/holder.js"></script>
  	</body>
</html>
