<div>
  <input id="lat" type="text">
  <input id="lng" type="text">
  <button onclick="mark_by_ll()">Click me</button>
</div>
<div>
  <input id="address" type="text">
  <button onclick="mark_by_add()">Click me</button>
</div>

<script
  src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
</script>
<script>
  var marker;
  var map;  
  var locations = [
    [ -33.890542, 190.274856],
    [-32.923036, 151.259052],
    [-34.028249, 151.157507],
    [-33.80010128657071, 151.28747820854187],
    [ -33.950198, 151.259302]
  ];

  function multiple(){
    var marker = new Array(20);
    var myCenter = new Array(20);
    var sw = new Array(2);
    var ne = new Array(2);
    
    for (var i = 0; i < locations.length; i++) {
      myCenter[i]=new google.maps.LatLng(locations[i][0],locations[i][1]);
    };
    var mapProp = {
      center:myCenter[0],
      zoom:15
    };
    map=new google.maps.Map(document.getElementById("googleMap"),mapProp);  
    for (var i = 0; i < myCenter.length; i++) {
      marker[i]=new google.maps.Marker({
        position:myCenter[i],
        animation:google.maps.Animation.BOUNCE
      });
      marker[i].setMap(map);
    };
    sw[0]=locations[0][0];
    sw[1]=locations[0][1];
    ne[0]=locations[0][0];
    ne[1]=locations[0][1];
    for (var i = 0; i < locations.length; i++) {
      if(sw[0]<locations[i][0])
      {
        sw[0] = locations[i][0];
        sw[1] = locations[i][1];
      }
      if(ne[1]<locations[i][1])
      {
        ne[0] = locations[i][0];
        ne[1] = locations[i][1];
      }
    };
    var Item_1 = new google.maps.LatLng(sw[0],sw[1]);
    var myPlace = new google.maps.LatLng(ne[0],ne[1]);
    // alert(sw[0]);
    // alert(ne[1]);

    var bounds = new google.maps.LatLngBounds();
    bounds.extend(myPlace);
    bounds.extend(Item_1);
    map.fitBounds(bounds);

   }

  function initialize()
  {    
    var myCenter=new google.maps.LatLng(21,78);
    var mapProp = {
      center:myCenter,
      zoom:15,
      mapTypeId:google.maps.MapTypeId.ROADMAP
    };
    map=new google.maps.Map(document.getElementById("googleMap"),mapProp);    
  }

  function mark_by_ll()
  {
    lat=$("#lat").val(); 
    lng=$("#lng").val();
    var myCenter=new google.maps.LatLng(lat,lng);
    var mapProp = {
      center:myCenter,
      zoom:15,
      mapTypeId:google.maps.MapTypeId.ROADMAP
    };
    map=new google.maps.Map(document.getElementById("googleMap"),mapProp);    
    marker=new google.maps.Marker({
      position:myCenter,
      // icon:'/assets/nepali-momo.png',
      animation:google.maps.Animation.BOUNCE
    });
    marker.setMap(map);
    // Info open (when user clicks tha marker..)
    var infowindow = new google.maps.InfoWindow({
      content:"Hello World!"
    });
    google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map,marker);
    });
  }

  function mark_by_add()
  {
    var myCenter=new google.maps.LatLng(21,78);
    var mapProp = {
      center:myCenter,
      zoom:15,
      mapTypeId:google.maps.MapTypeId.ROADMAP
    };
    map=new google.maps.Map(document.getElementById("googleMap"),mapProp);   
    var geocoder = new google.maps.Geocoder(); 
    geocodeAddress(geocoder, map);
  }
  function geocodeAddress(geocoder, resultsMap) {
    var address=$("#address").val();
    geocoder.geocode({'address': address}, function(results, status) {
      if (status === google.maps.GeocoderStatus.OK) {
        resultsMap.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
          map: resultsMap,
          position: results[0].geometry.location
        });
        var infowindow = new google.maps.InfoWindow({
          content: address
        });
      
        google.maps.event.addListener(marker, 'mouseover', function() {
          infowindow.open(resultsMap,marker);
        });
        google.maps.event.addListener(marker, 'mouseout', function() {
          infowindow.close(resultsMap,marker);
        });
      } 
      else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }
  google.maps.event.addDomListener(window, 'load', initialize);
  google.maps.event.addDomListener(window, 'load', multiple);
</script>
<div id="googleMap" style="height:650px;"></div>
