<br/><br/><br/><br/>
<div  class="container" align="center" style="background-color: #ff9999; width: 1000px ; height: 500px">
	<br/><br/>
	<h2 align="center"> Confirmation mail has been sent to your email id.</h2>
	<div align="center"><button class="btn btn-priamry" href="/">Back</button></div>
</div>
<br/><br/>